.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 46px;
  @media (max-width: 570px) {
    margin-top: 25px;
  }
  &-logo a {
    display: flex;
    align-items: center;
    gap: 4px;
    & h1 {
      width: 100%;
      max-width: 45px;
      font-family: Poppins;
      font-size: 37px;
      font-weight: 800;
      line-height: 56px;
      letter-spacing: 0px;
      text-align: left;
      color: #ffffff;
    }
    & img {
      width: 100%;
      max-width: 45px;
    }
  }
  &-list {
    display: flex;
    align-items: center;
    gap: 40px;
    @media (max-width: 988px) {
      display: none;
    }
    & .dropdown,
    a {
      border: none;
      background: transparent;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0px;
      cursor: pointer;
      text-align: left;
      color: #707070;
      transition: all 0.5s;
      &:hover {
        color: #3c82f4;
      }
    }
  }
  &-btns {
    display: flex;
    align-items: center;
    gap: 25px;
    &-1 {
      border: none;
      background: transparent;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: left;
      color: #707070;
      transition: all 0.5s;
      &:hover {
        color: #3c82f4;
      }
      @media (max-width: 570px) {
        display: none;
      }
    }
    &-2 {
      padding: 12px 22px;
      font-family: Poppins;
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0px;
      text-align: left;
      color: #ffffff;
      transition: all 0.5s;
      border: 1px solid #000;
      border-radius: 5px;
      background-color: #3c82f4;
      &:hover {
        color: #707070;
        background-color: transparent;
        border-color: #707070;
      }
      @media (max-width: 570px) {
        display: none;
      }
      &-3 {
        display: none;
      }
    }
    & img {
      display: none;
    }
  }
}
@media (max-width: 988px) {
  .nav-btns img,
  .nav-btns-3 {
    display: block;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid #707070;
    background: black;
  }
}
.menubar {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 75%;
  height: 100%;
  background: #0d0d0d;
  color: black;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: all 0.9s;
  & select {
    background: transparent;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    color: #707070;
    border: none;
    transition: all 0.5s;
    &:hover {
      color: #3c82f4;
    }
  }
  & a {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    color: #707070;
    transition: all 0.5s;
    &:hover {
      color: #3c82f4;
    }
  }
  & button {
    padding: 8px 16px;
    font-family: Poppins;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: transparent;
    color: #707070;
    transition: all 0.5s;
    &:hover {
      color: #ffffff;
      background: #3c82f4;
      border: 1px solid #3c82f4;
    }
  }
}
.menu-none {
  display: none;
}
.nav-btns-3 {
  display: none;
}
@media (max-width: 998px) {
  .nav-btns-3 {
    display: block;
  }
}
